.fieldseteventos {
  margin: auto;
  width: 90%;
  border: #000 solid 3px;
  padding: 15px 0 5px 0px;
}

.legendeventos {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 0 80px;
}

.taeventos {
  margin: auto;
}

.theadeventos th {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}

.thtieventos {
  width: 10%;
}

.thdeeventos {
  width: 51%;
}

.thfeeventos {
  width: 8%;
}

.thhoeventos {
  width: 5%;
}

.thubeventos {
  width: 17%;
}

.thcaeventos {
  width: 9%;
  /* padding: 0 25px; */
}

.tbodytreventos th {
  font-size: 17px;
  padding: 10px 0;
  font-weight: 500;
  border-top: #000 solid 1px;
}

.tbtieventos {
  border-right: 1px solid;
}

.tbdeeventos {
  border-right: 1px solid;
}

.tbfeeventos {
  border-right: 1px solid;
}

.tbhoeventos {
  border-right: 1px solid;
}

.tbudeventos {
  border-right: 1px solid;
}

.tbcaeventos {
  border-right: 1px solid;
}

.boeleventos {
  padding: 0;
  margin-right: 5px;
  width: 40%;
  cursor: pointer;
  background-color: #00000000;
  border: 0px solid;
}

.boeleventos:hover{
  background-color: #0000;
}

.fa-square-xmark {
  margin: auto;
  font-size: 20px;
}

.fa-square-xmark:hover{
  color: #ff5555;
}

.fa-pen-to-square {
  margin: auto;
  font-size: 20px;
}

.fa-pen-to-square:hover{
  color: #57ce47;
}
