.loginbuton {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 10px;
  margin: 1% auto 2% auto;
  color: white;
  background: rgb(0, 0, 0);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(0, 0, 0, 0.527);
  letter-spacing: 0.08em;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  font-optical-sizing: auto;

  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */
}

.loginbuton:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgb(0, 0, 0);
  /* color: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.527);
}

.loginbuton:active {
  box-shadow: 0 0.7em 1.5em -0.5em rgba(0, 0, 0, 0.527);
  background: rgb(0, 0, 0);
}

.fa-solid {
  margin: 0 10px 0 0;
}
