.naeventos {
  display: flex;
  justify-content: center;
  margin: .5% 0 2% 0;
}

.bonaeventos {
  width: 160px;
  margin: 10px;
  justify-content: center;
}

.linaeventos {
  text-decoration: none;
}
